body {
    margin: 0;
    background-color: rgb(196, 52, 52);
    display: flex;
    justify-content: center;
}

#canvas {
    margin-top: 25px;
    z-index: 10;
}

/* Montior and Larger */
@media screen and (min-width: 1800px) {
    #canvas { margin-top: 100px; }
}

/* Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
    #canvas { width: 100%; margin-top: 0;}
}